* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #0b0420;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left, #right {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #ffffff;
    border-radius: 5px;
    transition: 0.5s;
}

.heading {
    height: 60px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    border-bottom: 2px dashed #ffffff;
}
.list {
    height: 60px;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    cursor: grab;
    border-radius: 3px;
    transition: 0.3s;
}

#left .list{
    background-color: #2a51c5;
}

#right .list{
    background-color: #941ee9;
}

#left .list:hover, #right .list:hover {
    background-color: #e91e63;
    color: #ffffff;
}


